name: Hello artifact

on:
  push:
    branches:
      - main

jobs:
  artifact-job-definition:
    runs-on: ubuntu-latest
    steps:
      - name: Gather directory info
        run: |
          echo "Collecting directory info..."

          DIR=$(pwd)

          # Create markdown output
          echo "**Working Directory**" >> directory-info.md
          echo "$DIR" >> directory-info.md

          echo "Markdown report generated"
          cat directory-info.md

      - name: Upload directory info artifact
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: directory-info.md